

@{
    ViewData["Title"] = "Admin Tools";
}

<link rel="stylesheet" href="~/css/style.css" />


<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h6>Administrator Tools</h6>



    <a asp-controller="Administration"
        asp-action="ListUsers">Edit Users</a>

    <a asp-controller="Administration"
        asp-action="ListRoles">Edit Roles</a>

    <a asp-controller="Home"
        asp-action="OrderReview" asp>Order Review</a>




