@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Thank you for your purchase. Your order is now being processed, and our team is working hard to ensure that your item
    is prepared and shipped to you as soon as possible. If you have any questions or concerns, please don't hesitate to contact
    our customer support team. Thank you for your patience and for choosing our business.
</h2>