@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Thank you for your purchase. We have received your order and our team is currently reviewing it to ensure it is processed correctly.
    Please allow us some time to verify the details of your order, and we will be in touch with you shortly regarding the next steps.
    If you have any questions or concerns, please don't hesitate to contact our customer support team. Thank you for your patience
    and for choosing our business.
</h2>