@using IntexLegoSecure.Infrastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product
<link rel="stylesheet" href="~/css/Style.css" />

<div>

    <section class="products" id="products">
        @* <h1 class="heading">Our <span>Products</span> </h1> *@

        <div class="box-container">

            <div class="box">

                <div class="image">
                    <img src="~/images/lego1.jpg" />
                    <div class="icons">
                        <a href="#" class="cart-btn"><span class="fas fa-shopping-cart"></span></a>
                    </div>
                </div>
                <div class="content">
                    <h3>@Model.Name</h3>
                    <div class="price">@Model.Price</div>
                </div>
            </div>

        </div>
    </section>



@*     <form id=@Model.ProductId method="post" asp-page="/Cart">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn-outline-success btn-sm float-end">Donate</button>
    </form> *@
</div>







